---
import BlurCard from "./BlurCard.astro";
import { SunChart, TimeCard } from "./Preact/TimeInfo";
import { MiscInfo } from "./Preact/WeatherInfo";
import WindCard from "./Preact/WindCard";
import AirQuality from "./Preact/AirQuality";
---

<section class="flex flex-col gap-2 col-span-2 sm:col-auto">
    <BlurCard>
        <TimeCard client:load />
    </BlurCard>

    <div class="flex gap-2 flex-col 1xl:flex-row">
        <div class="flex gap-2 w-full">
            <BlurCard className="w-full flex_center">
                <WindCard client:load />
            </BlurCard>
            <BlurCard className="pt-0 w-full">
                <SunChart client:load />
            </BlurCard>
        </div>
        <BlurCard className="w-full">
            <MiscInfo client:load />
        </BlurCard>
    </div>
    <BlurCard className="w-full h-full">
        <AirQuality client:load />
    </BlurCard>
</section>
